:root {
  --primary: #b4bbc5;
  --secondary: #215a78;
  --tertiary: #5292ab;
  --light: #e0dee1;
  --dark: #1f3850;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(2rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

div > input {
  width: 112px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-top: .5rem !important;
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a:hover {
  text-decoration: none;
  color: var(--tertiary) !important;
}

header {
  background: rgb(31,56,80);
  background: linear-gradient(180deg, rgba(31,56,80,1) 0%, rgba(180,187,197,0.923406862745098) 46%, rgba(224,222,225,0.9178046218487395) 100%);
  box-shadow: 0px 21px 37px 1px rgba(0,0,0,0.82);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
}

a {
  color: var(--secondary) !important;
  text-decoration: none !important;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem .5rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  color: var(--light);
}

#dropdown {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem .5rem;
  border-radius: .25rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  color: var(--light);
}

button:hover {
  opacity: .8;
}

.submitButton {
  width: 60%;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

#newMetric {
  background-color: var(--dark);
  color: var(--light);
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  margin-bottom: 1em;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  max-width: 540px !important;
  height: fit-content;
  padding-top: .15em;
  padding-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18vh;
  margin-bottom: 50px;
  background: rgb(224,222,225);
  background: linear-gradient(180deg, rgba(224,222,225,.95) 100%, rgba(224,222,225,.95) 100%);
  box-shadow: 0px 21px 37px 1px rgba(0,0,0,0.82);
}

.containerNBG {
  max-width: 540px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 450px;
  }
  .containerNBG {
    width: 450px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 325px !important;
  }
  .containerNBG {
    width: 325px !important;
  }
}